<%= form_for @movie, html: {multipart: true} do |f| %>
    <%= display_errors @movie %>

    <!--<div class="field">
      <div class="drop_files_div">
        Drop Here
        <a>Browse</a>

      </div>
      <ul class="files_ul">
      </ul>
    </div>-->

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :no_of_download %><br>
    <%= f.text_field :no_of_download %>
  </div>
  <div class="field">
    <%= f.label :rating %><br>
    <%= f.text_field :rating %>
  </div>
    <h4>Attach files</h4>
    <%= fields_for @movie_file do |movie_file| %>
        <%= movie_file.file_field :file, multiple: true %>
    <% end %>
  <div class="actions">
    <%= f.submit class: 'btn_save_movie' %>
  </div>

<% end %>
